@import "../common/reset.css";
@import "../common/com_style.css";
body {
  background-color: #eeeeee;
  overflow: hidden;
}
body #container {
  margin-top: 10px;
  background-color: #fff;
}
body #container section[data-sign] {
  overflow: scroll;
}
body #container section[data-sign] ul {
  padding: 0 4%;
}
body #container section[data-sign] ul li {
  padding-top: 3px;
  padding-bottom: 18px;
  border-bottom: 1px solid #ebebeb;
  overflow: hidden;
  display: flex;
}
body #container section[data-sign] ul li .bd-logo {
  box-sizing: border-box;
  padding-top: 16px;
}
body #container section[data-sign] ul li .bd-logo i {
  font-size: 30px;
  color: #9673d8;
}
body #container section[data-sign] ul li .br-content {
  margin-top: 10px;
  overflow: hidden;
  padding-bottom: 23px;
  height: 66px;
  box-sizing: border-box;
}
body #container section[data-sign] ul li .br-content header {
  overflow: hidden;
  margin-left: 10px;
}
body #container section[data-sign] ul li .br-content header h4 {
  float: left;
  font-size: 16px;
}
body #container section[data-sign] ul li .br-content header .time {
  color: #666666;
  font-size: 10px;
  float: right;
  margin-right: 22px;
}
body #container section[data-sign] ul li .br-content p {
  float: left;
  width: 83%;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 14px;
}
body #container section[data-sign] ul li .br-content i:nth-child(3) {
  float: right;
  margin-top: 7px;
  font-size: 18px;
  color: #666666;
}
