<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../angular-1.5.8/angular.js"></script>
</head>
<body ng-app="mainApp">
    <input type="text" ng-model="txt">
    <input type="button" ng-click="func()" value=" ng-click ">
</body>
<script>

    var mainApp = angular.module( 'mainApp', [] )

    mainApp.run( [ '$rootScope', function ( $rootScope ) {
        $rootScope.func = function () {
            alert( $rootScope.txt );
        }
    }] );

</script>
</html>