<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <!--控制所在的dom节点作为根节点,ng-app这个指令只能存在一个-->
  <div  ng-app="app" ng-controller="myController">
    <input type="text" ng-model="val1" name="" value="">
    <input type="text" ng-model="val2" name="" value="">
    <button ng-click="add()">=</button> 
    <input type="text" name="" ng-model="res" value="">
    <p>{{res}}</p>
  </div>
  <script src="./angular.js">
    
  </script>
  <script>
    var app=angular.module('app',[]);
    app.controller('myController',function($scope){
       $scope.add=function(){
         $scope.res=($scope.val1-0)+($scope.val2-0)
       }

    })
  
  </script>
</body>

</html>