@import "../common/reset.css";
@import "../common/com_style.css";
body {
  background-color: #eeeeee;
}
body .add_car_msg {
  margin-top: 5px;
}
body footer {
  text-align: center;
  margin-top: 60px;
}
body footer button {
  width: 80%;
  height: 44px;
  border: none;
  border-radius: 22px;
  color: white;
  background-color: #0096ff;
  outline: none;
}
