@import "../common/reset.css";
@import "../common/huidongquan_com.css";
body {
  background-color: #eeeeee;
}
.pub-header .head-right {
  font-size: 22px;
}
nav {
  height: 90px;
  text-align: center;
  padding: 13px 0px;
  background-color: #fff;
}
nav ul {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}
nav ul li {
  width: 22%;
}
nav ul li span[class~="iconfont"] {
  font-size: 40px;
}
nav ul li span[class~="icon-shipin-"] {
  color: #f45372;
}
nav ul li span[class~="icon-huodong-"] {
  color: #f48122;
}
nav ul li span[class~="icon-huati-"] {
  color: #30b75a;
}
nav ul li p {
  margin-top: 12px;
  font-size: 12px;
}
.classify {
  background-color: #fff;
  height: 100px;
  margin-top: 5px;
}
.classify ul {
  padding: 10px 0;
  overflow: scroll;
  white-space: nowrap;
  height: 100%;
  box-sizing: border-box;
  display: flex;
}
.classify ul li {
  position: relative;
  float: left;
  text-align: center;
  height: 100%;
  margin: 0 6px;
}
.classify ul li img {
  width: 120px;
  height: 80px;
}
.classify ul li p {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
}
.classify ul li:nth-child(1) {
  margin-left: 15px;
}
.classify ul li:last-child {
  margin-right: 15px;
}
.hdq-msg-body {
  background-color: #ffffff;
  padding-bottom: 0px;
}
.hdq-msg-header {
  text-align: center;
  margin: 10px 15px 0;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
}
.hdq-msg-header h4 {
  color: #333;
  width: 65%;
  margin: 0 auto;
  font-weight: 700;
}
.foot-tip {
  text-align: center;
  height: 55px;
  line-height: 55px;
}
.foot-tip p {
  color: #999999;
  font-size: 12px;
}
.no-comment {
  text-align: center;
}
.no-comment p {
  font-size: 12px;
  color: #999999;
}
.comment-foot {
  display: flex;
  padding: 0 10%;
  margin: 0 auto;
  height: 50px;
  background-color: #eeeeee;
}
.comment-foot input {
  flex-grow: 1;
  outline: none;
  border: 1px solid #999999;
  height: 30px;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0 10px;
  margin-top: 10px;
}
.comment-foot span {
  line-height: 50px;
  font-size: 16px;
  margin-left: 10px;
  color: #666666;
}
.hdq-msg-foot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid #000;
  height: 50px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  padding: 5px 15px 0;
}
.hdq-msg-foot .foot-log {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: url(../../imgs/topic/qixi.png) center / cover no-repeat;
  float: left;
  margin-right: 10px;
}
.hdq-msg-foot .foot-cont {
  float: left;
  color: white;
}
.hdq-msg-foot .foot-cont h4 {
  font-size: 15px;
}
.hdq-msg-foot .foot-cont p {
  font-size: 12px;
}
.hdq-msg-foot .download {
  float: right;
  border: none;
  outline: none;
  width: 100px;
  height: 25px;
  background-color: #0096ff;
  color: white;
  border-radius: 2px;
  margin-top: 7px;
}
.ac-list-body {
  padding: 0;
}
.active-list {
  margin-top: 5px;
  background-color: #fff;
  padding: 15px 15px 0;
}
.active-list header {
  height: 44px;
  border-bottom: 1px solid #ebebeb;
  line-height: 45px;
  position: relative;
}
.active-list header i[class="icon-shijian-"] {
  font-size: 16px;
}
.active-list header time {
  margin-left: 8px;
  color: #0096ff;
  font-size: 15px;
}
.active-list header .baoming {
  position: absolute;
  top: -21px;
  right: 10px;
  text-align: center;
}
.active-list header .baoming i {
  font-size: 30px;
  color: #30b034;
}
.active-list header .baoming span {
  position: absolute;
  width: 100%;
  display: block;
  color: white;
  font-size: 15px;
}
.active-list header .baoming .baomingzhong-color {
  color: #ea4b2a;
}
.active-list header .baoming .finish-color {
  color: #999;
}
.active-list .ac-content {
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}
.active-list .ac-content .logo {
  width: 60px;
  height: 60px;
  background: url(../../imgs/huidongquan/qiuhun.png) center no-repeat;
  float: left;
}
.active-list .ac-content .ac-description {
  float: left;
  margin-left: 18px;
  width: 65%;
}
.active-list .ac-content .ac-description h4 {
  font-size: 15px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.active-list .ac-content .ac-description p {
  font-size: 13px;
  color: #999;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.active-list footer {
  height: 34px;
  border-top: 1px solid #ebebeb;
  line-height: 34px;
}
.active-list footer .position {
  width: 50%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.active-list footer .peop-count {
  float: right;
  color: #666;
}
.active-list footer .peop-count i {
  color: #999999;
  margin-right: 8px;
}
.ac-detail-body {
  padding-top: 0px;
  padding-bottom: 0px;
}
.ac-detail-head {
  background-color: transparent;
  border: none;
}
.ac-detail-head i[class~="iconfont"] {
  color: white;
}
.top-con {
  background-color: #fff;
}
.top-con .banner {
  height: 165px;
  background: url(../../imgs/active_details/1.png) center / cover no-repeat;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
}
.top-con .banner h4 {
  font-size: 18px;
  position: absolute;
  top: 45%;
  left: 15px;
  padding-right: 10px;
}
.top-con .banner p {
  font-size: 12px;
  position: absolute;
  top: 65%;
  left: 15px;
  padding-right: 10px;
  line-height: 20px;
  max-height: 44px;
  overflow: hidden;
}
.top-con .text-desc {
  padding: 15px;
}
.top-con .text-desc p {
  font-size: 12px;
  line-height: 23px;
}
.top-con footer {
  margin: 0 16px;
  padding: 10px 0px 0 0;
  height: 65px;
  box-sizing: border-box;
  border-top: 1px solid #ebebeb;
}
.top-con footer section i[class~="iconfont"] {
  font-size: 16px;
  margin-right: 8px;
}
.top-con footer section time {
  font-size: 15px;
  color: #0096ff;
}
.top-con footer .ac-position {
  margin-top: 4px;
}
.top-con footer .ac-position span {
  color: #666;
}
.ac-description {
  padding: 0 15px;
  background-color: #fff;
  margin-top: 5px;
}
.ac-description header {
  border-bottom: 1px solid #ebebeb;
}
.ac-description header h4 {
  font-size: 15px;
  color: #333;
  height: 34px;
  line-height: 34px;
}
.ac-description .ac-intro-top {
  padding: 10px 0 0 0;
  font-size: 12px;
  line-height: 23px;
}
.ac-description .ac-intro-img {
  background: url(../../imgs/huidongquan/qiuhun.png) center / cover no-repeat;
  height: 165px;
  margin-top: 20px;
}
.ac-description .ac-intro-bottom {
  font-size: 12px;
  line-height: 23px;
}
.ac-description .ac-intro-bottom p {
  margin-top: 20px;
}
.ac-description footer {
  height: 60px;
  text-align: center;
  border-top: 1px solid #ebebeb;
  margin-top: 30px;
}
.ac-description footer button {
  height: 44px;
  margin-top: 8px;
  border-radius: 22px;
  outline: none;
  border: none;
  width: 80%;
  background-color: #0096ff;
  color: white;
  font-size: 16px;
}
.ac-app-body {
  padding: 0;
  background-color: #fff;
}
.ac-apply-head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  border-bottom: none;
  color: white;
}
.ac-apply-head h4 {
  color: white;
}
.apply-info {
  padding: 0 15px;
  margin-top: 15px;
}
.apply-info h4 {
  font-size: 15px;
  color: #333;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
}
.apply-info ul li {
  height: 44px;
  line-height: 45px;
  border-bottom: 1px solid #cccccc;
  overflow: hidden;
}
.apply-info ul li .key {
  float: left;
  color: #666666;
}
.apply-info ul li .value {
  float: right;
  margin-top: 14px;
  border: none;
  outline: none;
  text-align: right;
  width: 70%;
  background-color: #fff;
}
.ac-app-foot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  border-top: 1px solid #ebebeb;
  margin-top: 30px;
}
.ac-app-foot button {
  height: 44px;
  margin-top: 8px;
  border-radius: 22px;
  outline: none;
  border: none;
  width: 80%;
  background-color: #0096ff;
  color: white;
  font-size: 16px;
}
.topic-list ul li {
  padding-bottom: 5px;
}
.topic-list ul li .topic-cont {
  height: 160px;
  position: relative;
  background: url(../../imgs/topic/qixi.png) center / cover no-repeat;
}
.topic-list ul li .topic-cont .tp-con-foot {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  box-sizing: border-box;
  padding-left: 15px;
  height: 45px;
}
.topic-list ul li .topic-cont .tp-con-foot h4 {
  font-size: 15px;
  margin-top: 6px;
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.topic-list ul li .topic-cont .tp-con-foot p {
  font-size: 12px;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html {
  height: 100%;
}
.top-detail-con .banner h4 {
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
  text-overflow: ellipsis;
}
.comment-number {
  font-size: 12px;
  margin: 0 2%;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 13px;
  color: #666;
}
.tp-deta-body {
  background-color: #fff;
  height: 100%;
}
.tp-de-foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.my-header {
  position: relative;
}
.my-intro {
  background-color: #fff;
  height: 89px;
  border-bottom: 1px solid #ebebeb;
}
.my-intro .head-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  float: left;
  background: url(../../imgs/topic/qixi.png) center / cover no-repeat;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 13px;
}
.my-intro .intro-con {
  overflow: hidden;
  padding-top: 18px;
}
.my-intro .intro-con h4 {
  font-size: 16px;
}
.my-intro .intro-con p {
  font-size: 12px;
  color: #666;
  margin-top: 8px;
}
.my-intro .intro-con i[class~="iconfont"] {
  float: right;
  margin-right: 15px;
  margin-top: 16px;
}
.my-cen-nav {
  padding: 0;
  height: 70px;
  display: flex;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  padding-top: 13px;
}
.my-cen-nav section {
  width: 20%;
}
.my-cen-nav section i {
  font-size: 22px;
}
.my-cen-nav section i[class~="icon-daifukuan-"] {
  color: #f48122;
}
.my-cen-nav section i[class~="icon-daifahuo-"] {
  color: #45aedd;
}
.my-cen-nav section i[class~="icon-daishouhuo-"] {
  color: #30b75a;
}
.my-cen-nav section i[class~="icon-tuikuanhuo-"] {
  color: #f45372;
}
.my-cen-nav section p {
  font-size: 12px;
  color: #666666;
  margin-top: 8px;
}
.center-list {
  margin-top: 5px;
  background-color: #fff;
}
.center-list ul li {
  overflow: hidden;
  height: 44px;
  line-height: 44px;
  box-sizing: border-box;
  padding: 0 15px;
  border-bottom: 1px solid #ebebeb;
}
.center-list ul li .key {
  float: left;
}
.center-list ul li .key span {
  color: #333;
  margin-left: 5px;
}
.center-list ul li .key i {
  font-size: 16px;
}
.center-list ul li .value {
  float: right;
}
.center-list ul li .value span {
  color: #666;
}
.center-list ul li .value i {
  color: #666;
}
.pub-bottom-footer i[class~="iconfont"] {
  font-size: 22px;
}
.sys-con {
  margin-top: 50px;
  padding: 0 15px;
  background-color: #fff;
}
.sys-con li {
  overflow: hidden;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #ebebeb;
}
.sys-con li .key {
  color: #333;
}
.sys-con li .value {
  float: right;
}
.sys-con li .value span {
  color: #666;
  font-size: 14px;
}
.switch {
  width: 40px;
  height: 20px;
  background-color: #3cb034;
  float: right;
  border-radius: 10px;
  margin-top: 12px;
  margin-right: 10px;
  position: relative;
}
.switch input {
  -webkit-appearance: none;
  border: none;
  outline: none;
  margin: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 1px;
  left: 0;
}
.switch .replace-input {
  display: block;
  width: 120%;
  height: 140%;
  background-color: transparent;
  position: absolute;
  top: -20%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.pub-footer {
  text-align: center;
  margin-top: 60px;
}
.pub-footer button {
  width: 80%;
  height: 44px;
  border: none;
  border-radius: 22px;
  color: white;
  background-color: #0096ff;
  outline: none;
  font-size: 16px;
}
.my-set-head .head-right {
  font-size: 16px;
}
.per-set {
  margin-top: 50px;
  background-color: #fff;
  padding: 0 15px;
}
.per-set li {
  overflow: hidden;
  height: 44px;
  line-height: 45px;
  border-bottom: 1px solid #ebebeb;
  color: #666;
}
.per-set li .key {
  float: left;
  font-size: 15px;
}
.per-set li .value {
  float: right;
  color: #666666;
}
.per-set li .value .set-head-img {
  width: 60px;
  height: 60px;
  background: url(../../imgs/topic/qixi.png) center / cover no-repeat;
  margin-top: 15px;
  border-radius: 50%;
  margin-right: 20px;
}
.per-set li .value i {
  float: right;
}
.per-set li .value input {
  border: none;
  outline: none;
  text-align: right;
  color: #666666;
  font-size: 15px;
}
.per-set li:nth-child(1) {
  height: 89px;
  line-height: 90px;
}
.house-nav {
  margin-top: 45px;
  height: 45px;
  padding: 0;
  line-height: 45px;
}
.house-nav ul li {
  width: 50%;
  border-bottom: 2px solid transparent;
  font-size: 14px;
  color: #666;
}
.house-nav ul .active {
  color: #0096ff;
  border-bottom: 2px solid #0096ff;
}
.house-cont {
  margin-top: 5px;
  background-color: #fff;
  padding: 0 15px;
}
.house-cont li {
  display: flex;
  height: 69px;
  box-sizing: border-box;
  padding-top: 15px;
  border-bottom: 1px solid #ebebeb;
}
.house-cont li .left {
  font-size: 30px;
  color: #f45372;
  margin-right: 10px;
}
.house-cont li .middle {
  flex-grow: 1;
}
.house-cont li .middle h4 {
  font-size: 16px;
  color: #333;
}
.house-cont li .middle p {
  font-size: 12px;
  color: #999;
}
.house-cont li .right p {
  color: #999;
  text-align: right;
}
.house-cont li .right p:nth-child(1) {
  font-size: 14px;
}
.house-cont li .right p:nth-child(2) {
  font-size: 12px;
  margin-top: 3px;
}
.add-house-head .head-right {
  font-size: 15px;
}
.add-house-list {
  margin-top: 50px;
}
.add-house-list li .value input {
  border: none;
  outline: none;
  text-align: right;
  font-size: 15px;
}
.add-house-list li .value .tel {
  color: #333;
}
.add-house-list li .value select {
  border: none;
  outline: none;
  text-align: right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
}
.add-mem-head .head-right {
  font-size: 15px;
}
.add-mem-con ul li .key span,
.add-mem-con ul li .value span {
  color: #666;
}
.get-code-box {
  overflow: hidden;
  background-color: #fff;
  margin-top: 5px;
  box-sizing: border-box;
  padding: 0 15px;
  height: 45px;
  line-height: 45px;
}
.get-code-box input {
  float: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  margin-top: 14px;
  font-size: 16px;
}
.get-code-box .get-code {
  float: right;
  color: #0096ff;
}
.address-list {
  padding: 0 15px;
  background-color: #fff;
  margin-top: 50px;
}
.address-list li {
  height: 69px;
  border-bottom: 1px solid #ebebeb;
  padding-top: 16px;
  box-sizing: border-box;
}
.address-list li h4 {
  color: #333;
  font-size: 16px;
}
.address-list li span {
  color: #999;
  font-size: 12px;
}
.address-list li .telphone {
  margin-left: 28px;
}
.add-address-foot {
  height: 50px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.add-address-foot button {
  border: none;
  outline: none;
  width: 80%;
  height: 44px;
  border-radius: 22px;
  margin-top: 3px;
  margin-left: 10%;
  color: white;
  background-color: #0096ff;
  font-size: 16px;
}
.gesixie-foot {
  text-align: center;
  margin-top: 28px;
}
.gesixie-foot button {
  width: 135px;
  height: 44px;
  border-radius: 22px;
  border: none;
  outline: none;
  color: white;
  background-color: #0096ff;
  text-align: center;
  line-height: 44px;
  font-size: 16px;
}
.gesixie-con {
  margin-top: 50px;
  padding: 0 15px;
  background-color: #fff;
}
.gesixie-con li {
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #ebebeb;
  overflow: hidden;
}
.gesixie-con li .key {
  float: left;
  color: #666666;
}
.gesixie-con li .value {
  float: right;
}
.gesixie-con li .value input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: right;
  font-size: 15px;
  border: none;
  outline: none;
}
.change-phone {
  margin-top: 25px;
  background-color: #fff;
  padding: 0 15px;
}
.change-phone li {
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #ebebeb;
}
.change-phone li input {
  width: 60%;
  border: none;
  outline: none;
  font-size: 15px;
}
.change-phone li .get-code {
  font-size: 15px;
  color: #0096ff;
  float: right;
}
.collect-list {
  margin-top: 44px;
}
.collect-list li {
  height: 90px;
  margin-top: 5px;
  box-sizing: border-box;
  padding: 10px 15px;
  overflow: hidden;
  background-color: #fff;
}
.collect-list li .msg {
  float: left;
  width: 66%;
}
.collect-list li .msg h4 {
  font-size: 15px;
  color: #333;
  margin-bottom: 6px;
}
.collect-list li .msg span {
  color: #999;
  font-size: 12px;
}
.collect-list li .msg time {
  color: #999;
  font-size: 12px;
  margin-left: 12px;
}
.collect-list li .video-show {
  float: right;
  width: 112px;
  height: 70px;
  background: url(../../imgs/topic/qixi.png) center / cover no-repeat;
  position: relative;
}
.collect-list li .video-show time {
  position: absolute;
  right: 4px;
  bottom: 4px;
  text-align: center;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 2px 3px;
  border-radius: 8px;
}
.collect-list li:first-child {
  margin-top: 0px;
}
.gesiqi_info {
  width: 100%;
  height: 100%;
  background: url(../../imgs/gesiqi_Info/beijing.png) center / cover no-repeat;
  padding-top: 10vh;
}
.gesiqi_info .gesiqi-zhi {
  width: 80vw;
  height: 80vw;
  background: url(../../imgs/gesiqi_Info/zhi.png) center / cover no-repeat;
  position: absolute;
  top: 25vh;
  left: 12vw;
  text-align: center;
  box-sizing: border-box;
  padding-right: 30px;
}
.gesiqi_info .gesiqi-zhi h3 {
  margin-top: 25%;
  font-weight: 700;
  color: #f9700b;
  font-size: 18px;
}
.gesiqi_info .gesiqi-zhi .gesixie-name {
  font-size: 18px;
  color: #0096ff;
  margin-top: 25px;
}
.gesiqi_info .gesiqi-zhi .gesixie-tel {
  margin-top: 8px;
  font-size: 15px;
  color: #0096ff;
}
.gesiqi_info .gesiqi-zhi .line {
  height: 1px;
  background-color: #0096ff;
  width: 60%;
  margin: 0 auto;
  margin-top: 15px;
}
.gesiqi_info .gesiqi-zhi .company-name {
  font-size: 15px;
  color: #0096ff;
  margin-top: 15px;
}
.vid-body {
  background-color: #fff;
  padding-bottom: 50px;
}
.shipin-box video {
  width: 100%;
}
.shipin-box .vi-title {
  font-size: 15px;
  margin-top: 12px;
  color: #333;
  padding: 0 15px;
}
.shipin-box .bofangcishi {
  font-size: 12px;
  margin-top: 12px;
  color: #999;
  padding: 0 15px;
}
.video-content {
  padding: 0 15px;
  margin-top: 20px;
  height: 30px;
  line-height: 30px;
}
.video-content header {
  overflow: hidden;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 8px;
}
.video-content header .left {
  overflow: hidden;
  float: left;
}
.video-content header .left .my-head {
  float: left;
  background: url(../../imgs/topic/qixi.png) center / cover no-repeat;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.video-content header .left span {
  font-size: 14px;
  color: #333;
  margin-left: 8px;
}
.video-content header .right {
  float: right;
  color: #666666;
}
.video-content header .right i[class~="iconfonrt"] {
  font-size: 16px;
  margin-right: 6px;
}
.video-content header .right span {
  font-size: 12px;
}
.video-content header .right .shoucang {
  float: left;
  margin-right: 20px;
}
.video-content header .right .fenxiang {
  float: left;
}
.vi-commnet-list {
  margin-top: 8px;
}
.vi-commnet-list .pub-hdq-comment .c-head {
  margin-left: 9px;
}
.video-detail-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #eeeeee;
  line-height: 50px;
}
.video-detail-footer input {
  border: none;
  outline: none;
  width: 80%;
  height: 30px;
  border-radius: 15px;
  box-sizing: border-box;
  padding-left: 20px;
  margin-top: 10px;
}
.video-detail-footer span {
  margin-left: 5px;
}
