@import "../common/reset.css";
@import "../common/com_style.css";
body {
  background-color: #eeeeee;
}
body .car_header {
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  color: white;
}
body .car_header h4 {
  color: white;
}
body .car_header span {
  float: right;
  color: white;
  margin-right: 10px;
}
body nav {
  height: 190px;
  background: url("../../imgs/stop_car/tingchejiaofei_bg.png") center / 100% 190px no-repeat;
  position: relative;
  margin-bottom: 50px;
}
body nav .nav-con {
  width: 90%;
  height: 115px;
  position: absolute;
  bottom: -39px;
  left: 5%;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  box-sizing: border-box;
  padding: 10px;
}
body nav .nav-con section {
  width: 50%;
  height: 100%;
  text-align: center;
}
body nav .nav-con section svg {
  width: 45px;
  height: 45px;
}
body nav .nav-con section p {
  font-size: 15px;
  margin-top: 11px;
}
body nav .nav-con .left {
  border-right: 1px solid #999999;
}
