
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1497597478981'); /* IE9*/
  src: url('iconfont.eot?t=1497597478981#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1497597478981') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1497597478981') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1497597478981#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont";
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconn-gouwuche:before { content: "\343f"; }

.iconn-pinpai:before { content: "\e72d"; }

.iconn-leixing:before { content: "\e67e"; }

