
.hdq-msg-body {
  background-color: #ffffff;
  padding-bottom: 0px;
}

.foot-tip {
  text-align: center;
  height: 55px;
  line-height: 55px;
  p {
    color: #999999;
  }
}

.comment-foot {
  display: flex;
  padding: 0 10%;
  margin: 0 auto;
  height: 50px;
  background-color: #eeeeee;
  input {
    flex-grow: 1;
    outline: none;
    border: 1px solid #999999;
    height: 30px;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 0 10px;
    margin-top: 10px;
  }
  span{
    line-height: 50px;
    font-size: 16px;
    margin-left: 10px;
    color: #666666;
  }
}