.vid-body {
  background-color: #fff;
  padding-bottom: 50px;
}
.shipin-box video {
  width: 100%;
}
.shipin-box .vi-title {
  font-size: 15px;
  margin-top: 12px;
  color: #333;
  padding: 0 15px;
}
.shipin-box .bofangcishi {
  font-size: 12px;
  margin-top: 12px;
  color: #999;
  padding: 0 15px;
}
.video-content {
  padding: 0 15px;
  margin-top: 20px;
  height: 30px;
  line-height: 30px;
}
.video-content header {
  overflow: hidden;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 8px;
}
.video-content header .left {
  overflow: hidden;
  float: left;
}
.video-content header .left .my-head {
  float: left;
  background: url(../../imgs/topic/qixi.png) center / cover no-repeat;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.video-content header .left span {
  font-size: 14px;
  color: #333;
  margin-left: 8px;
}
.video-content header .right {
  float: right;
  color: #666666;
}
.video-content header .right i[class~="iconfonrt"] {
  font-size: 16px;
  margin-right: 6px;
}
.video-content header .right span {
  font-size: 12px;
}
.video-content header .right .shoucang {
  float: left;
  margin-right: 20px;
}
.video-content header .right .fenxiang {
  float: left;
}
.vi-commnet-list {
  margin-top: 8px;
}
.vi-commnet-list .pub-hdq-comment .c-head {
  margin-left: 9px;
}
.video-detail-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #eeeeee;
  line-height: 50px;
}
.video-detail-footer input {
  border: none;
  outline: none;
  width: 80%;
  height: 30px;
  border-radius: 15px;
  box-sizing: border-box;
  padding-left: 20px;
  margin-top: 10px;
}
.video-detail-footer span {
  margin-left: 5px;
}
