/*font s*/
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/*font e*/

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:focus {
    outline-style: none;
    -moz-outline-style: none;
    -webkit-outline-style: none;
    outline-style: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}

/*清除浮动*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/*常用颜色*/
.cor-gray {
    color: #999;
}
